
<div class="container">
 <h2>Demo Form: Sku</h2>
 <form [formGroup]="myForm"
       (ngSubmit)="onSubmit(myForm.value)"
       class="jumbotron">

   <div class="form-group">
     <label for="skuInput">SKU</label>
     <input type="text"
           id="skuInput"
           placeholder=""
           name="sku"
           [formControl]="myForm.controls['sku']"
           class="form-control">
</div>

<div class="form-group">
  <label for="priceInput">PREZZO</label>
      <input type="text"
           id="priceInput"
           placeholder=""
           name="price"
           [formControl]="myForm.controls['price']"
           class="form-control">
  </div>

  <div class="form-group">
    <label for="categoriaInput">CATEGORIA</label>
      <input type="text"
           id="categoriaInput"
           placeholder=""
           name="categoria"
           [formControl]="myForm.controls['categoria']"
           class="form-control">
  </div>

   <div *ngIf="!myForm.controls['sku'].valid || !myForm.controls['price'].valid || !myForm.controls['categoria'].valid"
         class="alert alert-danger">Something is invalid
   </div>
   <div *ngIf="myForm.controls['sku'].hasError('required') || myForm.controls['price'].hasError('required') || myForm.controls['categoria'].hasError('required')"
         class="alert alert-danger">Something is required
   </div>



 </form>
<div *ngIf="myForm.valid">
<button type="submit" class="btn btn-primary">GO</button>
</div>
 <div *ngIf="!myForm.valid"
 class="alert alert-danger">Form is invalid

 </div>


</div>









